
<!-- Global footer snippet start -->      <hr/>
<div id="global-footer" role="contentinfo">
  <div class="container">
    <div class="row">

      <!-- #bottom-logo end -->
      <div id="bottom-text" class="col-sm-8">

          <ul>
                <li><a href="http://filk.meravhoffman.com/">Main Filk Archive site:</a> full of all sorts of information about the Filk Archive project</li>
                <li><a href="https://https://stacy.is-a-llama.com/">Stacy's site:</a> I occasionally post about what I'm working on</li>
                </ul>


            Site is in active development. I'm moving items around, updating metadata, it's all in progress.
            If anything seems wonky, please feel free to email me at paleblue@gmail.com . Thanks! <br/>-- Stacy Haponik)


      </div> <!-- .bottom-text end -->
      <div class="clear"></div>
    </div> <!-- .row end -->
  </div> <!-- .container end -->
</div> <!-- global-footer end -->